extends layout

block content
 
  h1 Didone's Local Library Home
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content =^.^=

  p(class='pSotto') The library has the following record counts:

  ul
    li(class='thirdList') #[strong Books:] !{book_count}
    
    li(class='thirdList') #[strong Copies:] !{book_instance_count}
    
    li(class='thirdList') #[strong Copies available:] !{book_instance_available_count}
    
    li(class='thirdList') #[strong Authors:] !{author_count}
    
    li(class='thirdList') #[strong Genres:] !{genre_count}
